.app-container {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Cinzel', serif;
  text-align: center;
  letter-spacing: 0.08em;
  font-size: 40px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding-bottom: 10px;
}

h2 span {
  display: block;
  font-size: 30px;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-header a {
  color: #FDF7EF;
}

li a{
  color: #FDF7EF;
}
