<div class="new-member">
  <h1>Admin Tools</h1>
  <h3>Add New Club Member</h3>
  <div class="form-group">
    <label>Name:</label>
    <input #newName>
  </div>

  <div class="form-group">
    <label>Role:</label>
    <input #newRole>
  </div>

  <div class="form-group">
    <label>Favorite Book:</label>
    <input #newFavoriteBook>
  </div>

  <div class="form-group">
    <label>Total Books Read</label>
    <input type="number" #newTotalRead>
  </div>

  <div class="form-group">
    <label>New Image</label>
    <input #newImage>
  </div>

  <button class="btn" (click)="submitForm(newName.value, newRole.value, newFavoriteBook.value, newTotalRead.value, newImage.value); newName.value=''; newRole.value=''; newFavoriteBook.value=''; newTotalRead.value=''; newImage.value=''">Add</button>
</div>
<div>
  <app-home></app-home>
</div>
