<h4>Edit Member Details</h4>

<label>New Name:</label>
<input [(ngModel)]="selectedMember.name">
<br>

<div *ngFor="let role of roles" [(ngModel)]="selectedMember.role">
      <label>{{role.display}}</label>
      <input type="checkbox" value="{{role.value}}"
        (click)="check(role.value)">
</div>

<label>New Favorite Book:</label>
<input [(ngModel)]="selectedMember.favoriteBook">
<br>

<label>New Total Books Read:</label>
<input [(ngModel)]="selectedMember.totalRead">
<br>

<label>New Image:</label>
<input [(ngModel)]="selectedMember.image">

<button class="btn" (click)="beginUpdatingMember(selectedMember)">Update</button>
<button class="btn" (click)="beginDeletingMember(selectedMember)">Delete</button>
