<h4>Edit Member Details</h4>

<label>New Name:</label>
<input [(ngModel)]="selectedMember.name">
<br>

<select [(ngModel)] ="selectedMember.role" (change)="onChange($event.target.value)" class="form-group">
  <option value="" selected="selected">Choose a role</option>
  <option value="attendee">Attendee</option>
  <option value="president">President</option>
  <option value="vice-president">Vice President</option>
  <option value="creative-director"> Creative Director</option>
  <option value="attendee">Attendees</option>
</select>
<br>

<label>New Favorite Book:</label>
<input [(ngModel)]="selectedMember.favoriteBook">
<br>

<label>New Total Books Read:</label>
<input [(ngModel)]="selectedMember.totalRead">
<br>

<label>New Image:</label>
<input [(ngModel)]="selectedMember.image">

<button class="btn" (click)="beginUpdatingMember(selectedMember)">Update</button>
<button class="btn" (click)="beginDeletingMember(selectedMember)">Delete</button>
