/* You can add global styles to this file, and also import other style files */

.app-body {
  font-family: 'Libre Baskerville', serif;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/b3/74/84/b37484454b5184a94e00cccaff398003.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
}

.container-fluid {
  /*margin-bottom: 100px;*/
}

.memberName {
}
