img {
  width: 200px;
  border-radius: 10%;
}

.member-listing {
  min-height: 300px;
}

select {
  color: black;
}

label {
  color: black;
}

input {
  color: black;
}

.sortByRole {
  text-align: center;
}

.container {
  text-align: center;
}

.quoteButton {

}

#quoteDisplay {
  /*border: 1px solid black;
  background-color: white;
  color: black;
  padding-top: 5px;*/
  height: 40px;
  font-size: 14px;
}

.member-name:hover {
  cursor: pointer;
}

hr {
  max-width: 60%;
}
