<div *ngIf="currentRoute === '/home'" class="">
  <div id="quoteDisplay">
    <!--Quotes will display here-->
  </div>
  <button class="btn quoteButton" (click)="newQuote()"> View Quote of the Day
  </button>

<h3>Our Members</h3>
  <div class="sortByRole">
    <p>Sort members by role:</p>
    <select (change)="onChange($event.target.value)" class="form-group">
      <option value="allMembers" selected="selected">All members</option>
      <option value="presidentRole">President</option>
      <option value="vicePresidentRole">Vice President</option>
      <option value="creativeDirectorRole"> Creative Director</option>
      <option value="attendeeRole">Attendees</option>
    </select>
  </div>
</div>
<div class="member-listing col-md-12" *ngFor="let member of members | async | role:filterByRole">
  <h3 class="member-name" (click)="goToDetailPage(member)">{{member.name}}</h3>
  <img src="{{member.image}}" alt="{{member.name}}">
  <h4>{{member.role}}</h4>

  <div *ngIf="currentRoute === '/admin'">
    <p>Favorite book: {{member.favoriteBook}}</p>
    <p>Total books read: {{member.totalRead}}</p>
    <hr>
    <app-edit-member [selectedMember]="member"></app-edit-member>
    <hr>
  </div>
</div>
